img.jashjpg1 {
  font-size: 50px;
}
img.jashjpg1 {
  width: 20em;
  height: 10em;
}
.jashh1--primerh1 {
  font-size: 50px;
}
.jashh1--primerh1 {
  font-size: 6em;
}
.jashh1--primerh1 {
  font-family: 'Acme', sans-serif;
  color:#f0e68c
